@page "/Page4"

<PageTitle>ZOV </PageTitle>
<h3>Призыв.Ру</h3>

<strong>Страна нуждается в тебе, подпиши контракт и выгони свиней из Курской области!</strong>
<p>
    <strong class="font-color">
        Почему это важно?
    </strong></p>
<p>
    <short>
        Курская область — это не только живописные пейзажи, но и сельское хозяйство, которое требует заботы и внимания. 
        Однако свиньи, ставшие настоящей напастью, угрожают экосистеме и местным фермерам.
    </short>
</p>
<p>
    <strong class="font-color">Твоя миссия</strong>
</p>
<p>
    <short>
        <ol type="1">
            <li>Оценка ситуации: Первым шагом станет анализ текущей ситуации.
                Необходимо выяснить, сколько свиней обитает в регионе и какие меры уже приняты для их контроля.</li>
            <li>Разработка стратегии: Создай план действий, который включает методы гуманного удаления свиней из области.
                Это может быть как переселение, так и другие подходы, учитывающие безопасность животных и людей.</li>
            <li>Контроль и поддержка: После выполнения задачи, обеспечь мониторинг ситуации.
                Возможно, потребуется создать специальные группы по контролю за популяцией свиней в будущем.</li>
        </ol>
    </short>
</p>
@code {

}