@page "/Page1"

<a href="http://localhost:5119">На главную</a>
<PageTitle>Novosti Bishkeka</PageTitle>
<h3>Чебоксар News</h3>

<strong>"Всем привет йо маё! Пишем новый пост про свинозомби из адского измерения."</strong> 
<p>
    <text> "Представьте себе: в мрачных недрах ада, где огненные реки текут, а воздух напоен зловонным дымом, обитают свинозомби.
        Эти создания — не просто зомби, а настоящие ужасные порождения, которые когда-то были обычными свиньями, 
        но после встречи с темными силами превратились в нечто более зловещее."</text>
</p>
<p>
    <strong class="font-color">
        "Как они появились?"
    </strong></p>
<p>
<short> 
        "Легенда гласит, что в древние времена, когда адские силы только начинали набирать мощь, 
        группа свиней случайно забрела в заброшенный портал. Попав в ад, они подверглись ужасным мутациям. 
        Теперь свинозомби обладают не только физической силой, но и жаждой разрушения!"
    </short>
</p>
<p>
    <strong class="font-color col-1">"Что они делают?"</strong>
</p>
<p> 
    <short>
        "Свинозомби бродят по адским просторам, охотясь на все живое.
        Их любимое развлечение — устраивать настоящие мясные пиршества, где в роли закуски выступают не только души, 
        но и другие существа, попавшие в эту зловещую реальность."
    </short>
</p>

@code {
    
}