@page "/Page2"
<PageTitle>Ogneupornost3</PageTitle>
<h3>Поиск Еврейских корней</h3>

<strong>"Присоединяйся к незабываемым приключениям!"</strong>
<p>
    <text>"Ты когда-нибудь мечтал о путешествии в мир, где царит хаос и огонь? Теперь у тебя есть шанс! 
        Адское измерение — это не просто локация, это целый мир, полный загадок, опасностей и невероятных возможностей."</text>
</p>
<p>
    <strong class="font-color">
        "Что тебя ждёт?"
    </strong></p>
<p>
    <short>
        <li>"Исследуй лавовые реки, мрачные пещеры и обгоревшие леса. Каждый уголок ада полон сюрпризов!</li>
        <li>Собирай адский камень, душевые пески и другие уникальные материалы, которые помогут тебе в создании мощных артефактов
            и улучшении снаряжения.</li> 
        <li>Встреть свинозомби, гаста и других монстров. Подготовь своё оружие и защитные заклинания, чтобы выжить в этом опасном мире.</li>
    </short>
</p>
<p>
    <strong class="font-color">"Как забронировать путёвку?"</strong>
</p>
<p>
    <short>
        <ol type="1">
            <li>Выбери дату: Выбери удобное время для своего путешествия.</li>
            <li>Подготовь снаряжение: Убедись, что у тебя есть всё необходимое: еда, зелья и, конечно, крепкие доспехи.</li>
            <li>Собери команду: Путешествие в ад — это не шутка! Возьми с собой друзей и вместе покоряйте новые горизонты.</li>
        </ol>
    </short>
</p>
@code {

}