@page "/Page3"

<PageTitle>WB Monster</PageTitle>
<h3>Вкусные мандарины</h3>

<strong>Порадуйте себя и близких новогодними мандаринами из Китая, которые стали символом праздника и радости!</strong>

<p>
    <strong class="font-color">
        Почему мандарины?
    </strong></p>
<p>
    <short>
        <li>Символ удачи: В китайской культуре мандарины ассоциируются с удачей и процветанием. Подавая их на новогодний стол, 
            вы привносите в дом атмосферу счастья и благополучия.</li>
        <li>Вкус и аромат: Сочные и сладкие, китайские мандарины известны своим неповторимым вкусом и ароматом. Они идеально подойдут как для угощения, 
            так и для приготовления различных блюд и десертов.</li>
        <li>Полезные свойства: Мандарины богаты витаминами, особенно витамином C, который поддерживает иммунитет в зимний период.
            Это отличный способ заботиться о здоровье всей семьи!</li>
    </short>
</p>
<p>
    <strong class="font-color">Как выбрать лучшие мандарины?</strong>
</p>
<p>
    <short>
        <ol type="1">
            <li>Цвет: Ищите яркие, оранжевые плоды без пятен и повреждений.</li>
            <li>Аромат: Свежие мандарины имеют насыщенный цитрусовый аромат. Если плод пахнет слабо, возможно, он не свежий.</li>
            <li>Текстура: Выбирайте упругие мандарины — они будут более сочными и сладкими.</li>
        </ol>
    </short>
</p>
@code {

}